### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
number_of_players = len(purchase_data["SN"].unique())
number_table = pd.DataFrame({"Numer of Players": [number_of_players]})
number_table

   Numer of Players
0               576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item Name"].unique())

In [4]:
average_price = purchase_data["Price"].mean()
average_price_rounded = round(average_price, 2)

In [5]:
total_purchases = len(purchase_data["Purchase ID"])

In [6]:
total_revenue = purchase_data["Price"].sum()

In [7]:
total_purchasing_analysis = pd.DataFrame({"Unique Items": [unique_items],
                                          "Average Price": [average_price_rounded],
                                          "Total Purchases": [total_purchases],
                                          "Total Revenue": [total_revenue]})
total_purchasing_analysis["Average Price"] = total_purchasing_analysis["Average Price"].map("${:.2f}".format)
total_purchasing_analysis["Total Revenue"] = total_purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
total_purchasing_analysis

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
unique_sn = purchase_data.drop_duplicates(['SN'])
unique_sn_copy = unique_sn.copy()

In [9]:
gender_groups = unique_sn["Gender"].value_counts()

In [10]:
percentage_count = (gender_groups / number_of_players) *100
round(percentage_count, 2)

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [11]:
gender_list = ["Male", "Female", "Other / Non-Disclosed"]

In [12]:
gender_demo = pd.DataFrame({"Gender": [gender_list[0], gender_list[1], gender_list[2]],
                                          "Total Count": [gender_groups[0], gender_groups[1], gender_groups[2]],
                                          "Percentage of Players": [percentage_count[0], percentage_count[1], percentage_count[2]]})
gender_demo_done = gender_demo.set_index("Gender")
round(gender_demo_done, 2)

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
gender_set = purchase_data.set_index("Gender")

In [14]:
gender_set = purchase_data.set_index("Gender")
gender_mean = gender_set.groupby(["Gender"]).mean()
gender_sum = gender_set.groupby(["Gender"]).sum()
gender_mean_rounded = round(gender_mean, 2)
gender_sum_rounded = round(gender_sum, 2)

In [15]:
avg_price_gender = gender_mean_rounded["Price"]

In [16]:
sum_purchase_gender = gender_sum_rounded["Price"]

In [17]:
avg_total_purchase_person_not_rounded = sum_purchase_gender / gender_groups
avg_total_purchase_person = round (avg_total_purchase_person_not_rounded, 2)

In [18]:
purchase_count = gender_set.groupby(["Gender"]).size()

In [19]:
purchasing_analysis_gender_no_index = pd.DataFrame({"Gender": [gender_list[1], gender_list[0], gender_list[2]],
                                                    "Purchase Count": [purchase_count[0], purchase_count[1], purchase_count[2]],
                                          "Average Purchase Price": [avg_price_gender[0], avg_price_gender[1], avg_price_gender[2]],
                                          "Total Purchase Value": [sum_purchase_gender[0], sum_purchase_gender[1], sum_purchase_gender[2]],
                           "Avg Total Purchase per Person": [avg_total_purchase_person[0], avg_total_purchase_person[1], avg_total_purchase_person[2]]})

purchasing_analysis_gender = purchasing_analysis_gender_no_index.set_index("Gender")
purchasing_analysis_gender["Average Purchase Price"] = purchasing_analysis_gender["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_gender["Total Purchase Value"] = purchasing_analysis_gender["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_gender["Avg Total Purchase per Person"] = purchasing_analysis_gender["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasing_analysis_gender.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
bins = [0,9, 14, 19, 24, 29, 34, 39, 100]

In [21]:
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29",
            "30-34", "35-39", "40+"]

In [22]:
unique_sn_copy["Age Range"] = pd.cut(unique_sn_copy["Age"], bins, labels=bin_names)

In [23]:
age_range_count = unique_sn_copy["Age Range"].value_counts()

In [24]:
percentage_players_age = (age_range_count / number_of_players) *100
percentage_players_age_rounded = round(percentage_players_age, 2)

In [25]:
age_demo = pd.DataFrame({"Age Range": [bin_names[0], bin_names[1], bin_names[2], bin_names[3], bin_names[4],
                         bin_names[5], bin_names[6], bin_names[7]],
                        "Total Count": [age_range_count[0], age_range_count[1], age_range_count[2],
                         age_range_count[3], age_range_count[4], age_range_count[5], age_range_count[6],
                                                                                         age_range_count[7]],
                                          "Percentage of Players": [percentage_players_age_rounded[0],
                                                                    percentage_players_age_rounded[1],
                                                                    percentage_players_age_rounded[2], 
                                                                    percentage_players_age_rounded[3],
                                                                    percentage_players_age_rounded[4],
                                                                    percentage_players_age_rounded[5],
                                                                    percentage_players_age_rounded[6],
                                                                    percentage_players_age_rounded[7]]})

In [26]:
age_demo.set_index("Age Range")

           Total Count  Percentage of Players
Age Range
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
age_range_set = unique_sn_copy.set_index("Age Range")
age_range_mean = unique_sn_copy.groupby(["Age Range"]).mean()
age_range_sum = unique_sn_copy.groupby(["Age Range"]).sum()
age_range_mean_rounded = round(age_range_mean, 2)
age_range_sum_rounded = round(age_range_sum, 2)
avg_price_age_range = age_range_mean_rounded["Price"]

In [28]:
sum_purchase_age_range = age_range_sum_rounded["Price"]

In [29]:
avg_total_purchase_age_range_not_rounded = sum_purchase_age_range / age_range_count
avg_total_purchase_age_range = round (avg_total_purchase_age_range_not_rounded, 2)

In [30]:
age_range_count = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [31]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)
purchase_count_age = purchase_data.groupby(["Age Range"]).size()

In [32]:
purchasing_analysis_age_range_no_index = pd.DataFrame({"Age Range": [age_range_count[0], age_range_count[1], age_range_count[2], age_range_count[3], age_range_count[4], age_range_count[5], age_range_count[6], age_range_count[7]],
                                                        "Purchase Count": [purchase_count_age[0], purchase_count_age[1], purchase_count_age[2], purchase_count_age[3], purchase_count_age[4], purchase_count_age[5], purchase_count_age[6], purchase_count_age[7]],
                                                        "Average Purchase Price": [avg_price_age_range[0], avg_price_age_range[1], avg_price_age_range[2], avg_price_age_range[3], avg_price_age_range[4], avg_price_age_range[5], avg_price_age_range[6], avg_price_age_range[7]],
                                                        "Total Purchase Value": [sum_purchase_age_range[0], sum_purchase_age_range[1], sum_purchase_age_range[2], sum_purchase_age_range[3], sum_purchase_age_range[4], sum_purchase_age_range[5], sum_purchase_age_range[6], sum_purchase_age_range[7]],
                                                        "Avg Total Purchase per Person": [avg_total_purchase_age_range[0], avg_total_purchase_age_range[1], avg_total_purchase_age_range[2], avg_total_purchase_age_range[3], avg_total_purchase_age_range[4], avg_total_purchase_age_range[5], avg_total_purchase_age_range[6], avg_total_purchase_age_range[7]]})

purchasing_analysis_age_range = purchasing_analysis_age_range_no_index.set_index("Age Range")
purchasing_analysis_age_range["Average Purchase Price"] = purchasing_analysis_age_range["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_age_range["Total Purchase Value"] = purchasing_analysis_age_range["Total Purchase Value"].map("${:.2f}".format)
purchasing_analysis_age_range["Avg Total Purchase per Person"] = purchasing_analysis_age_range["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasing_analysis_age_range.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.39,$57.63,$3.39
10-14,28,$3.07,$67.64,$3.07
15-19,136,$3.10,$331.88,$3.10
20-24,365,$3.06,$790.39,$3.06
25-29,101,$2.91,$223.93,$2.91
30-34,73,$2.92,$151.92,$2.92
35-39,41,$3.51,$108.81,$3.51
40+,13,$3.04,$36.45,$3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
spender_set = purchase_data.set_index("SN")
spenders_mean = purchase_data.groupby(["SN"]).mean()
spenders_sum = purchase_data.groupby(["SN"]).sum()
spenders_mean_rounded = round(spenders_mean, 2)
spenders_sum_rounded = round(spenders_sum, 2)
avg_price_spenders = spenders_mean_rounded["Price"]
#avg_price_spenders

In [34]:
sum_purchase_spenders = spenders_sum_rounded["Price"]
#sum_purchase_spenders

In [35]:
purchase_count_spenders = purchase_data.groupby(["SN"]).size()
#purchase_count_spenders

In [36]:
spenders_list = [spender_set, purchase_count_spenders, avg_price_spenders, sum_purchase_spenders]

In [37]:
spenders_df.head()

NameError: name 'spenders_df' is not defined

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchase_data.head()

In [ ]:
item_df = purchase_data[["Item ID", "Item Name", "Price"]]
item_df.head()

In [ ]:
item_group = item_df.groupby(["Item ID","Item Name"])
item_sum = item_df.groupby(["Item ID","Item Name"]).sum()
item_count = item_df.groupby(["Item ID","Item Name"]).values_count()
item_count.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame